#login-form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20vh;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    text-align: center;
}
